.two-column {
    display: flex;
    align-items: center;
    width: 100%;
}

.column {
    flex: 1;
    place-content: center;
}

.content {
    padding: 0 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.title {
    font-size: 4em;
    margin: 0 0 0.5rem;
    font-family: 'Nunito', serif;
    font-weight: bold;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.3s;
}

.paragraph {
    font-size: 1.2em;
    font-family: 'Nunito', serif;
    margin: 0 0 0.5rem;
    color: #888888;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 1s;
}

#p1 {
    -webkit-animation-delay: 0.5s;
}

#p2 {
    -webkit-animation-delay: 0.7s;
}

.button {
    width: 100%;
}

.social-button {
    margin-top: 1em;
    border-radius: 50%;
    background-color: white;
    font-size: 1.2em;
    border: 2px solid #0064a4;
    width: 50px;
    height: 50px;
    color: #0064a4;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 1s;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 3%;
}

#b1 {
    margin-left: 0;
    -webkit-animation-delay: 0.9s;
}

#b2 {
    -webkit-animation-delay: 1.0s;
}

#b3 {
    -webkit-animation-delay: 1.1s;
}

#b4 {
    -webkit-animation-delay: 1.2s;
}

.social-button:hover {
    background-color: #0064a4;
    color: white;
}

.bo {
    position: fixed;
    bottom: 0;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 0.2s;
    height: 90%;
    user-select: none;
}

@media (max-width: 1200px) {
    .bo {
        right: -50% !important;
    }
}

@media (min-width: 1201px) {
    .bo {
        right: 0;
    }
}

@keyframes fade-in {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
