.two-column {
    display: flex;
    align-items: center;
    width: 100%;
}

.column {
    flex: 1;
    place-content: center;
}

.content {
    padding: 0 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.title-1 {
    font-size: 5em;
    margin: 0 0 0.5rem;
    font-family: 'Nunito', serif;
    font-weight: bold;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 1s;
}

.title-2 {
    font-size: 4em;
    margin: 0 0 0.5rem;
    font-family: 'Nunito', serif;
    font-weight: bold;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.3s;
}

.paragraph {
    font-size: 1.2em;
    font-family: 'Nunito', serif;
    margin: 0 0 0.5rem;
    color: #888888;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
}

.button {
    margin-top: 1em;
    color: #0064a4;
    background-color: white;
    cursor: pointer;
    font-size: 1.2em;
    font-family: 'Nunito', serif;
    font-weight: 400;
    padding: 0.3em 1.1em;
    border-radius: 0.5em;
    transition: all 0.3s;
    border: 2px solid #0064a4;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.7s;
}

.button:hover {
    background-color: #0064a4;
    color: white;
}

.graphic {
    position: fixed;
    bottom: 0;
    left: 55%;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 0.2s;
    height: 75%;
}

@keyframes fade-in {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}